<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista::Crud</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-warning">
    <div class="panel panel-info">
        <div class="panel-heading text-center"> <h3>Lista de Usuarios</h3> </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Correo</th>
                        <th>Contraseña</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each = "usuario : ${usuarios}">
                        <td data-th-text="${usuario.id}">id</td>
                        <td data-th-text="${usuario.email}">Correo</td>
                        <td data-th-text="${usuario.password}">Contraseña</td>
                        <td> 
                        	<a th:href="@{'/crud/editar/{id}' (id=${usuario.id})}">
                        		<span class="fa-stack">
                        			<i class="glyphicon glyphicon-edit"></i>
                        		</span>
                        	</a>
                        </td>
                        <td> 
                        	<a th:href="@{'/crud/borrar/{id}' (id=${usuario.id})}">
                        		<span class="fa-stack">
                        			<i class="glyphicon glyphicon-trash"></i>
                        		</span>
                        	</a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        
    </div>
    <br/>
    <a class="btn btn-info" href="/crud/nuevo">Nuevo Usuario</a>
</body>
</html>